<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.seon.navigator.SygicPlugin"
      version="0.1.0">
    <name>Sygic Plugin</name>
    <description>Sygic PhoneGap Integration Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,sygic,navigator</keywords>

    <engines>
        <engine name="cordova-android" version=">=4" />
        <engine name="cordova-plugman" version=">=4.2.0" /><!-- needed for gradleReference support -->
    </engines>


    <js-module src="www/SygicPlugin.js" name="SygicPlugin">
        <clobbers target="SygicPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SygicPlugin">
                <param name="android-package" value="com.seon.navigator.SygicPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/libs/RemoteApi.jar" target-dir="src/libs/" />
        <source-file src="src/android/navigator/dto/RouteDTO.java" target-dir="src/navigator/dto/" />
        <source-file src="src/android/navigator/dto/StopDTO.java" target-dir="src/navigator/dto/" />
        <source-file src="src/android/navigator/exception/NavigatorException.java" target-dir="src/navigator/exception/" />
        <source-file src="src/android/navigator/service/NavigatorService.java" target-dir="src/navigator/service/" />
        <source-file src="src/android/navigator/service/impl/SygicNavigatorService.java" target-dir="src/navigator/service/impl/" />
        <source-file src="src/android/navigator/util/SygicSdkConstants.java" target-dir="src/navigator/util/" />
        <source-file src="src/android/navigator/util/TestUtils.java" target-dir="src/navigator/util/" />
        <source-file src="src/android/navigator/util/Util.java" target-dir="src/navigator/util/" />
        <source-file src="src/android/SygicPlugin.java" target-dir="src/" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
     </platform>          
</plugin>